########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

{%- for item in config %}
{{ item }}
{%- endfor %}
